/*
 * jQuery Nivo Slider v2.3
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:495px;
	width:460px;
	height:200px;
	top:95px;
	line-height:45px;
	background:;
	color:#fff;
	font-size:32px;
	font-family:\5FAE\8F6F\96C5\9ED1,"Microsoft Yahei",Verdana,"ו",Arial,sans-serif,"Times New Roman";
	font-weight:600;
	opacity:0.3; /* Overridden by captionOpacity setting */
	z-index:89;
	word-wrap:break-word;
	word-break:normal;
}
.nivo-caption span.more a{
position:absolute;
bottom:30px;
left:5px;
display:block;
background:#FF9900;
padding:2px 30px;
height:18px;
line-height:18px;
text-align:center;
font-size:14px;
font-weight:normal;
color:#FFF;
text-decoration:none;
opacity:1.0;
}
.nivo-caption span.more a:hover{color:#F4FF7A;}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:95;
	cursor:pointer;
	left:485px;
}
.nivo-controlNav a.active {
	font-weight:bold;
}