
<!--头部 开始-->
    <div class="header">
    	<a href="$cms.getUrl("首页")" class="logo" title="云南大学">云南大学</a>
        <div class="contact">
        	<a href="$cms.getUrl("网站地图")">网站地图</a><em>|</em><a href="#">English</a>
        </div>
    </div>
    <!--导航 开始-->
    <div class="nav">
    	<div class="navLeft"></div>
        <div class="navRight"></div>
        <div class="search">
			<form name="dataForm" action="/cms/search/searchResults.jsp" target="_blank" method="get">
        		<div class="searchbg">
					<input name="siteID" size="4" value="$curChannel.site.ID" type = "hidden">					
					<input type="text" name="query" value="站内搜索" id="searchTxt"/>
				</div>
				<input type="submit"  value="" class="searchSub"/>
			</form>
        </div>
        <ul class="mainNav clearfix" id="mainNav">
			#foreach($channel in $cms.getTopChildren($rootChannel))
				<li><a title="$channel.title" href="$cms.getUrl($channel)">$channel.title</a>  
					<dl>
						#foreach($channel1 in $cms.getChildren($channel))
							<dd><a href="$cms.getUrl($channel1)" title="$channel1.title" #if($channel1.type == 5) target="_blank" #end>$channel1.title</a></dd>
						#end
					</dl>
				</li>  
			#end
        </ul>
    </div>
    <!--导航 结束-->