
<table width="100%" border="0" bgcolor="#D8BE80" style="background-image:url('images/mainmenu-bg-2.gif'); background-position:left top; background-repeat:repeat-x">
  <tr>
    <td height="150" align="center"><table width="90%" border="0" cellspacing="8">
        <tr>
          <td align="center">首页 | 机构电话 | 关于我们 | 站长信箱 | 网站地图</td>
        </tr>
      </table>
      <table width="90%" border="0">
        <tr>
          <td align="center">Copyright &copy; 2007 云南大学人文学院<br>
            地址：昆明市翠湖北路2号 邮编：650091<br>
            建议使用：1024*768分辨率，16位以上颜色、<br>
            Netscape6.0、IE6.0以上版本浏览器和中文大字符集<br>
            技术支持：创视工作室</td>
        </tr>
      </table></td>
  </tr>
</table>