
<div id="footer">版权所有:云南大学统战部<br>
地址:云南省昆明市翠湖北路2号 邮编:650091<br>
Tel(Fax):0871-5033924 E-mail:tongzhanbu@ynu.edu.cn<br>
制作维护:云南大学网络与信息中心 <script language="JavaScript" type="text/javascript" charset="gb2312" src="http://s6.cnzz.com/stat.php?%20id=1400394&web_id=1400394&show=pic"></script>
</div>