
<DIV id=copyright>
  <P>Copyright &copy; 2010-2011 云南大学网络智能计算实验室 版权所有</P>
</DIV>
<div><a href="http://cis.chinese.cn/" ><img border=0 src="http://202.203.208.88:8080/cms/binary/images/16/20111202165045367555.png" /></a></div>