
<div>
        <p style="padding-bottom: 0px; line-height: 1.25em; margin: 0px 0px 8px; padding-left: 0px; padding-right: 0px; padding-top: 0px">主办：云南大学国际合作与交流处&middot;港澳台办公室</p>
<br style="padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px" />
<p style="padding-bottom: 0px; line-height: 1.25em; margin: 0px 0px 8px; padding-left: 0px; padding-right: 0px; padding-top: 0px">主 编：于欣力</p>
<p style="padding-bottom: 0px; line-height: 1.25em; margin: 0px 0px 8px; padding-left: 0px; padding-right: 0px; padding-top: 0px">副主编：杨 伟</p>
<p style="padding-bottom: 0px; line-height: 1.25em; margin: 0px 0px 8px; padding-left: 0px; padding-right: 0px; padding-top: 0px">编 委：郑蔚、王浩、赵高顺、沈芸、马理、何可人、钱 均、毕媛媛、方芳、徐蕾、刘静、刘飞、付蕾<br />
<br />
&nbsp;&nbsp;&nbsp; 为进一步加强国际合作与交流处暨港澳台事务办公室与各院系。部门之间的信心沟通，共同推动云南大学国际暨港澳台交流与合作的发展，国际合作与交流处暨港澳台谁办公室于2006年底开始编发《云南大学国际暨港澳台合作与交流通讯》。<br />
&nbsp;&nbsp;&nbsp; 《通讯》主要介绍我校有关对外合作、国际交流、合作办学、国际会议、留学生教育、港澳台交流等各方面的动态和发展，旨在为学校、各院系所、部门的领导搭建一个了解我校与世界各地高等院校、机构开展合作与交流的信息平台。<br />
为了更全面地展现云南大学国际暨港澳台合作与交流的成果，丰富本刊内容，长期向各院系所、部门征集稿件，欢迎踊跃投稿。<br />
<br />
投稿方式：稿件请寄至邮箱 <a href="mailto:shenyun@ynu.edu.cn">shenyun@ynu.edu.cn</a>或通过办公网络发送至国际合作与交流处公共账户</p>
<p style="padding-bottom: 0px; line-height: 1.25em; margin: 0px 0px 8px; padding-left: 0px; padding-right: 0px; padding-top: 0px">&nbsp;</p>
 
        </div>