<div id="footer" class="footer">
        <div class="info"> <div class="btlogo-bg"></div>

    云南大学网络与信息中心</br>
电话：0871-65031611(办公室), 65031006(信息业务), 65031141(网络维护), 65031601(综合业务), 158-7793-4177/4277(呈贡值班) </br>
版权所有 &copy; 2004-2013</br>
</div>
  </div>