<!--开始页头内容-->
<div id="header" class="header">
    <div class="top">
        <div class="banner">
            <div class="tbnav">
            <ul>
            <li><a href="http://www.ynu.edu.cn">云大首页</a></li>
            <li><a href="www.yn.edu.cn">云南主节点</a></li>
            <li class="nobd"><a href="#" >硕士教育</a></li>
			
            </ul>
            </div>
        </div>
        <div class="logo" title="欢迎光临云南大学综合门户网站"></div>
        <div class="l_right">
        <div id="nav" class="nav">
        <ul>
			<li><a href="http://www.news.ynu.edu.cn/">中心介绍</a></li>
			<li>
				<a href="#">校园网概况</a>
			</li>
			<li><a href="#">安全法规</a></li>
			<li><a href="http://www.news.ynu.edu.cn/">常用下载</a></li>
			<li><a href="http://www.news.ynu.edu.cn/">信息资源</a></li>
			<li><a href="http://www.news.ynu.edu.cn/">网络服务</a></li>
		</ul>
		
        
        </div>
        <div class="search_box"><input name="searchbox" type="text" class="searchbox" /><div class="info"><a href="#">确定</a></div>
      </div>
        </div>
    </div>
</div>
<!--结束页头内容-->
<div class="clear"></div>