
<TABLE cellSpacing=0 cellPadding=0 width=760 name="dotted">
  <TBODY>
    <TR>
      <TD><P align=center>&nbsp;<FONT 
                                style="COLOR: #ffffff">2008&nbsp; 云南大学思想战线编辑部 
        版权所有</FONT></P></TD>
    </TR>
  </TBODY>
</TABLE>