
##模板宏定义

##显示栏目导航，调用举例：#channelNav()
#macro (channelNav)
    #foreach($tmpChannel in $cms.getPathChannels($curChannel.parent))
             <a href="$cms.getUrl($tmpChannel)">$tmpChannel.title</a>&gt;&gt;
    #end
    <span>$curChannel.title</span>
#end

##显示文章导航，调用举例：#articleNav()
#macro (articleNav)
    #foreach($tmpChannel in $cms.getPathChannels($curChannel))
             <a href="$cms.getUrl($tmpChannel)">$tmpChannel.title</a>&raquo;
    #end
    $curArticle.name
#end

##显示文章标题（最大长度不超过length），调用举例：#summary($article 30)
#macro(summary $title $length) 
    #if ($title.length()>$length)
        ${title.substring(0, $length)}... 
    #else 
        $title 
    #end
#end

##显示文章列表举例，调用举例：#contents($curChannel 10)
#macro(contents $channel $count)
<TABLE>
  <TBODY>
  #foreach($content in $cms.getContents($channel,$count)) 
  <TR>
   <TD>
      <A href="$cms.getUrl($content)">#summary($content.name 30)&nbsp;($cms.format($content.publishDate))</A>
   </TD>
  </TR>
  #end
  </TBODY>
</TABLE>
#end

##显示当前栏目文章列表举例，调用举例：#curContents(10)
#macro(curContents $count)
  #contents($curChannel $count)
#end

##分页显示栏目文章列表举例，调用举例：#pageContents()
#macro(pageContents)
<TABLE>
  <TBODY>
  #foreach($content in $cms.getPageContents($curChannel, $curPage)) 
  <TR>
   <TD>
      <A href="$cms.getUrl($content)">#summary($content.name 30)&nbsp;($cms.format($content.publishDate))</A>
   </TD>
  </TR>
  #end
  </TBODY>
</TABLE>
#end

##显示某个栏目文章列表举例，调用举例：#channelContents("新闻中心" 10)
#macro(channelContents $channelName $count)
<TABLE>
  <TBODY>
  #foreach($content in $cms.getContents($channelName,$count)) 
  <TR>
   <TD>
      <A href="$cms.getUrl($content)">#summary($content.name 30)&nbsp;($cms.format($content.publishDate))</A>
   </TD>
  </TR>
  #end
  </TBODY>
</TABLE>
#end

##显示某个栏目下如头条新闻等文章列表举例，调用举例：#blockContents("首页" "头条新闻" 10)
#macro(blockContents $channelName $blockName $count)
<TABLE>
  <TBODY>
  #foreach($content in $cms.getContents($channelName, $blockName, $count)) 
  <TR>
   <TD>
      <A href="$cms.getUrl($content)">#summary($content.name 30)&nbsp;($cms.format($content.publishDate))</A>
   </TD>
  </TR>
  #end
  </TBODY>
</TABLE>
#end


##分页，调用举例：#page()
#macro(page)
<table>
共$totalRows条新闻，分$totalPage页，当前第<font color=red>$curPage</font>页&nbsp;&nbsp;<a href="$cms.getIndexFileName($curChannel, 1)">最前页</a>
<a href="$cms.getIndexFileName($curChannel, $prePage)">上一页</a>
<a href="$cms.getIndexFileName($curChannel, $nextPage)">下一页</a>
<a href="$cms.getIndexFileName($curChannel, $totalPage)">最后页</a>
</table>
#end


##显示当前文章的相关新闻，调用举例：#relates()
#macro(relates)
<TABLE>
   <TBODY>
   #foreach($content in $cms.getRelated($curArticle))
   <TR>
      <TD><A href="$cms.getUrl($content)">#summary($content.name 30)&nbsp;($cms.format($content.publishDate))</A></TD>
   </TR>
   #end
   </TBODY>
</TABLE>
#end

##显示当前文章的相关附件，调用举例：#attachments()
#macro(attachments)
<TABLE>
   <TBODY>
   #foreach($doc in $cms.getAttachments($curArticle))
   <TR>
      <TD><A href="$cms.getUrl($doc)">$doc.srcFile</A> </TD>
   </TR>#end
   </TBODY>
</TABLE>
#end

##显示文章级别，调用举例：#showGrade()
#macro (showGrade $content)
    #if ($content.grade>=2))
           <img src="images/important.gif" border=0>
    #end
#end

##显示文章为新，调用举例：#showNew($content)
#macro (showNew $content)
    #if ($cms.isNew($content, 1))
           <img src="/govimages/bgxt/new003.gif" border=0>
    #end
#end

##显示子频道列表，调用举例：#subChannel($curChannel table) 
#macro (subChannel $channels $disStyle)
#if($disStyle == 'table')
<table>
  #foreach($channel in $cms.getChildren($channels))
    <tr>
      <td><a href=$cms.getUrl($channel)>$channel.title</a></td>
    </tr>
    #end
</table>
#end
#if($disStyle == 'li')
<table>
  #foreach($channel in $cms.getChildren($channels))
    <li><a href=$cms.getUrl($channel)>$channel.title</a></li>
    #end
</table>
#end
#if($disStyle == 'br')
<table>
  #foreach($channel in $cms.getChildren($channels))<a href=$cms.getUrl($channel)>$channel.title<br>
  #end </a>
</table>
#end

##显示投票，调用举例：#showPoll($place)
#macro (showPlacePoll $place)
    <script language="JavaScript" >
    function openPoll(bSubmit, url, form)
    {
            pollForm = eval("document."+form);
    	if (!bSubmit || pollForm.pollFlag.value == '1')
    	{
    		newWindow = window.open(url,"pollwin","toolbar,resizable,scrollbars,dependent,width=400,height=280");
    		newWindow.focus();
    	}
    	else
    	{
    		newWindow = window.open('',"pollwin","toolbar,resizable,scrollbars,dependent,width=400,height=280");
    		newWindow.focus();
                    pollForm.pollFlag.value = '1';
    		pollForm.submit();
    
    	}
    
    	return false;
    
    }
    </script>
        #set ($poll = $cms.getPoll($place))
        #if ($poll)
            #set ($optionArray = $stringUtil.split($poll.options, "|"))
           <form method="POST" action="/cms/web/userPoll.jsp" target="pollwin" name="pollForm$poll.ID">
           <table align="center">
                <input type=hidden name="pollID" value="$poll.ID">
                <input type=hidden name="pollFlag" value="0">
                <tr><td>$poll.title</td></tr>
                    #set ($i = 0)
                    #foreach( $strOption in $optionArray )
                        <tr><td>
                        #if ($poll.type==0)
                           <input type=radio name=postPoll value="$i">$strOption
                        #else
                           <input type=checkbox name=postPoll value="$i">$strOption
                        #end
                        </td></tr>
                        #set ($i=$i+1)
                    #end
                <tr><td align="center">
                <input type="image" src="/cmsimages/tp.gif" value="提交" onClick="openPoll(true, '/cms/web/viewPollResult.jsp?pollID=$poll.ID', 'pollForm$poll.ID');return false;">
                <input type="image" src="/cmsimages/ck.gif" value="查看" onClick="openPoll(false, '/cms/web/viewPollResult.jsp?pollID=$poll.ID', 'pollForm$poll.ID')">
                </td></tr>
            </table>
           </form>
        #end
#end

##判断是否有图片，调用举例：#hasPicture($content)
#macro (hasPicture $content) 
#if ($cms.hasPicture($content)) 
   <img src="images/new.gif" border=0> 
#end 
#end 
#macro (hasRelatePicture $content) 
#if ($cms.hasRelatePicture($content)) 
  <img src="images/pic.gif" border=0> 
#end 
#end 

##判断文章有无相关附件，调用举例：#hasAttachment($content)
#macro (hasAttachment $content) 
#if ($cmsService.getArticleAttachmentCount($content.ID, 3)>0) 
  <img src="images/att.gif" border=0> 
#end 
#end 