

<div id="footer">
			<div class="footer_01"></div>
			<div class="footer_02">
				<p>
					云南大学医学院  地址：昆明市翠湖北路2号云南大学 邮编：650091

					<br /> 
					电话：0871-5034358 E-mail: medschool@ynu.edu.cn   版权所有 &copy; 2012 
				</p>
			</div>
			<div class="footer_03"></div>
		</div>
<script type="text/javascript">

var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

</script>

<script type="text/javascript">

try {

var pageTracker = _gat._getTracker("UA-11348620-1");

pageTracker._setDomainName(".ynu.edu.cn");

pageTracker._trackPageview();

pageTracker._setVar("medschool.医学院");

} catch(err) {}</script>

<script src="/cms/web/writeLog.jsp?channelID=$curChannel.ID"></script>