
<P align="center" class="style6"><FONT face="Arial, Helvetica, sans-serif">Copyright @2005 - 2006 <FONT 
color=#ff6600><STRONG>www.riet.ynu.edu.cn</STRONG></FONT> All Rights Reserved</FONT><BR>
    <BR>
    <FONT color=#000000><A 
class=aaa href="http://www.ynu.edu.cn/" target=_blank>云南大学工程技术研究院</A> 版权所有</FONT></P>