
地址:云南省昆明市翠湖北路2号&nbsp;&nbsp; 邮政编码:650091</STRONG> <SPAN 
      class=STYLE3>你是本站第</SPAN>&nbsp;<SPAN class=STYLE4><!--流量统计代码--><script src="/cms/modules/channelVisitLog.jsp?parentID=$rootChannel.ID"></script><!--流量统计代码结束--></SPAN> 
      位来访者</SPAN><BR>Copyright &copy; 版权所有 <A 
      href="http://www.chem.ynu.edu.cn/">云南大学化学科学与工程学院</A>.建议在IE6.0以上版本 
      1024*768分辨率下浏览本站 <BR>
<script type="text/javascript">

var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

</script>

<script type="text/javascript">

try {

var pageTracker = _gat._getTracker("UA-11348620-1");

pageTracker._setDomainName(".ynu.edu.cn");

pageTracker._trackPageview();

pageTracker._setVar("chem.化学科学与工程学院");

} catch(err) {}</script>