
  <span style="font-size:12px;color: #FFFFFF">版权所有：云南大学公共管理学院  地址：云南省昆明市翠湖北路52号 邮编：650091&nbsp;&nbsp;【<a href="$cms.getUrl("联系方式")">联系我们</a>】
  &nbsp;【<a href="$cms.getUrl("意见与建议")">意见与建议</a>】&nbsp;&nbsp; </span><span style="font-size:12px;color: #fabe00">【<a href="$cms.getUrl("下载信息")" target="_blank"  style="font-weight:bold;color: #fabe00;" >公共下载</a>】</span>


 